.About {
    background-color: rgba(255, 255, 255, 0.5);
    width: 100vw;
    height: 85vh;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: fadeInUp;
    animation-duration: 1s;
}

.About h6 {
    font-size: 1.75vmin;
    font-weight: 100;
    text-transform: uppercase;
    margin-top: 1vmin;
}

.About p {
    font-size: 1.5vmin;
    font-weight: 200;
    padding: 5vmin;
    text-align: center;
    width: 50vw;
    margin-top: -5vmin;
    line-height: 1.5;
}

.kristen {
    width: 150vmin;
    z-index: -1;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    opacity: 50%;
}