.Contact {
    background-color: rgba(255, 255, 255, 0.5);
    width: 100vw;
    height: 85vh;
    position: absolute;
    bottom: 0;
    left: 0;
    animation: fadeInUp;
    animation-duration: 1s;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 8vmin;
}

.Contact h6 {
    text-transform: uppercase;
    font-weight: 200;
    position: fixed;
    bottom: 22%;
}

.Contact h4 {
    font-family: 'Times-SS', sans-serif;
    text-transform: uppercase;
    margin-bottom: -2vmin;
    font-size: 2.5vmin;
}

.follow-me, .follow-me-2 {
    font-size: 5vmin;
    display: flex;
    column-gap: 5vmin;
    text-align: center;
    margin-top: -3vmin;
}

.follow-me-2 {
    font-size: 3.5vmin;
    column-gap: 3vmin;
}

.forms {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10vmin;
    position: fixed;
    bottom: 15%;
}

.forms a {
    background-color: rgb(205, 194, 176);
    padding: 1vmin;
    border-radius: 5px;
    font-size: 2.5vmin;
    text-transform: uppercase;
    font-family: 'Times-SS', sans-serif;
    text-align: center;
}

.forms a:hover {
    color: black;
    background-color: white; 
}

@media only screen and (max-width: 500px) {

    .forms {
        flex-direction: column;
        row-gap: 5vmin;
    }

    .Contact h4 {
        font-size: 3.8vmin;
    }

    .follow-me, .follow-me-2 {
        font-size: 6vmin;
    }

    .follow-me-2 {
        column-gap: 5vmin;
    }

    .Contact h6 {
        font-size: 2vmin;
        bottom: 36%;
        width: 50vmin;
        text-align: center;
        line-height: 1.5;
    }

}