@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100;200;300;400;500;600;700;800&display=swap');

@font-face {
  font-family: Times-SS;
  src: url('../../../public/fonts/times-ss.ttf');
}

:root {
  --peach: #F6ECE5;
  --blush: #D5C1B6;
}

html {
  background-color: var(--peach);
  font-family: 'Martian Mono', monospace;
  overflow: hidden;
}

ul, li {
  list-style: none;
  padding: 0;
}

h2 {
  font-family: 'Times-SS', sans-serif;
  text-transform: uppercase;
  font-size: 4vmin;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

.carousel {
  overflow-y: hidden;
  overflow-x: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 60vh;
  transform: translate(-50%, -50%);
  animation: fade ease 2s;
}

.carousel img {
  height: 60vh;
}

.flickity-button {
  opacity: 0;
}